<!DOCTYPE html>
<!--引入thymeleaf模板引擎-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="/home/css/mygrxx.css"/>
    <script type="text/javascript" src="/home/js/jquery-3.5.1.js"></script>
    <script>
        //上传头像，并且路径
        function upload1(show,headPic){
            let $data = new FormData();
            let imgShow = $("#user_img").val();
            $data.append("img",$("#select-file")[0].files[0]);
            $data.append("type","headImg"); //路径中文件夹的名称 /upload/head/日期/图片名
            $.ajax({
                url:'/uploadHeadImg',
                type:'POST',
                data:$data,
                processData:false,
                contentType:false,
                success:function(data){
                    if (data!="fail"){
                       if (imgShow == null){
                           $("#show-picture-img").attr("src",data);
                       }else {
                           $("#show-pic").attr("src",data);
                       }
                        alert("头像修改成功!")
                    }
                },
                error:function(data){
                    alert('网络错误!');
                }
            });
        }
    </script>

    <script type="text/javascript">


        /***********验证用户名*************/
        function checkUsername() {
            var userNameObj = $("#username");
            var divName = $("#errorMsg");
            var strName = userNameObj.val();
            let flag = false;
            if (strName === "" || strName === null) {
                divName.html("<font color='red'>用户名不能为空</font>");
                return false;
            }
            var username = /^[\u4e00-\u9fa5a-zA-Z0-9_-]{2,16}$/;
            if (!username.test(strName)) {
                divName.html("<font color='red'>用户名只能是2-16位数字、字母下划线和减号组成</font>");
                return false;
            }else {
                $.ajax({
                    type: "get",
                    url: "/system/user/checkUserName",
                    data: { "username": strName ,"user_id":$("#user_id").val()},
                    dataType: "json",
                    async: false,
                    success: function(data) {
                        if (data === false) {
                            divName.html("<font color='red'>用户名已经存在，不能重复</font>");
                        } else {
                            divName.html(" ");
                            flag =true;
                        }
                    },
                    error: function() {
                        alert("网络错误，请刷新试一试");
                    }
                });
            }
            return flag; // 假设AJAX失败，返回false
        }

        function checkPhone() {
            let strPhone = document.getElementById("phone").value;
            var divName = $("#errorMsg");
            let flag = false;
            if (strPhone.trim() == "") {
                divName.html("<font color='red'>手机号不能为空</font>");
                return false;
            }
            let reg = /^1[3456789]\d{9}$/;
            if (!reg.test(strPhone)) {
                divName.html("<font color='red'>手机号格式错误</font>");
                return false;
            } else {
                $.ajax({
                    type: "get",
                    url: "/system/user/checkPhone",
                    data: {"phone": $("#phone").val(),"user_id":$("#user_id").val()},
                    dataType: "json",
                    async:false,
                    success: function (data) {
                        if (data == false) {
                            divName.html("<font color='red'>该手机号已经注册过了！</font>");
                        } else {
                            divName.html(" ");
                            flag =true;
                        }
                    },
                    error: function () {
                        alert("网络错误，请刷新试一试")
                    }
                });
            }
            return flag;
        }

        function checkEmail() {
            var email = document.getElementById("email").value;
            var divName = $("#errorMsg");
            let flag =false;
            if (email.trim() == "") {
                divName.html("<font color='red'>邮箱不能为空</font>");
                return false;
            }
            //定义邮箱格式
            let emailZZ= /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (!emailZZ.test(email)) {
                divName.html("<font color='red'>邮箱格式错误！</font>");
                return false;
            } else {
                $.ajax({
                    type: "get",
                    url: "/system/user/checkEmail",
                    data: {"email": $("#email").val(),"user_id":$("#user_id").val()},
                    dataType: "json",
                    async:false,
                    success: function (data) {
                        if (data == false) {
                            divName.html("<font color='red'>该邮箱已经存在！</font>");
                        } else {
                            divName.html(" ");
                            flag =true;
                        }
                    },
                    error: function () {
                        alert("网络错误，请刷新试一试")
                    }
                });
            }
            return flag;
        }




        function checkForm() {
            if (checkUsername() && checkPhone() && checkEmail()) {
                if (confirm("确认要提交么？")) {
                    //$("#form").submit(); // 修改 "from" 为正确的表单ID "form"
                    // 这里可以添加表单提交逻辑
                    //document.getElementById('from').submit();
                    // 或者使用AJAX提交
                    alert("修改成功！");
                    return true;
                } else {
                    alert("您取消了修改信息的提交!!");
                    return false;
                }
            } else {
                alert("信息错误");
                return false;
            }
        }

    </script>
</head>

<body>
<!------------------------------head------------------------------>
<!--引入顶部文件-->
<div th:replace="/home/header"></div>
<!------------------------------idea------------------------------>
<div class="address">
    <div class="wrapper clearfix">
        <a>当前位置：</a>
        <a href="http://localhost:8080/index.html" style="">首页</a><span>></span>
        <a href="/view/personal/info" class="go">个人中心</a><span>></span>
        <a class="go">查看个人信息</a>
    </div>
</div>

<div class="Bott">
    <div class="wrapper clearfix" style="width: 1500px;margin-left: 160px;">
        <!--个人中心左侧菜单开始-->
        <div th:replace="/home/common/left_menu"></div>
        <!--个人中心左侧菜单结束-->
        <div class="you fl" style="min-height: 460px"><h2>个人信息</h2>
            <div class="gxin">
                <div class="tx">
                    <a href="#">
                        <input type="hidden" id="user_img" th:value="${user.head_pic}">
                        <img th:if="${user.head_pic} == null " src="/upload/headImg/defaultHeadImg.webp" id="show-picture-img" alt="默认头像" width="92px" height="92px" style="border-radius: 40px" />
                        <img th:if="${user.head_pic} != null" th:src="${user.head_pic}" id="show-pic"  width="92px" height="92px" style="border-radius: 40px" />
                        <input  th:text="更换头像" type="file" id="select-file"  onchange="upload1('show-picture-img','headImg')"/>
<!--                        <p>更换头像</p>-->
                    </a>
                </div>

                <div class="xx">

                <h3 class="clearfix">
                    <strong class="fl">基本信息</strong>
                    <a href="#" class="fr" id="edit1" onclick="openEditModal()">编辑</a>
                </h3>
                    <div>用户名：[[${session.user.username}]]</div>
                    <div>姓名：[[${session.user.name}]]</div>
                    <div>性别：
                        <font th:if="${user.sex == 1}">男</font>
                        <font th:if="${user.sex == 2}">女</font>
                        <font th:if="${user.sex == 0}">未知</font>
                    </div>
                    <div>证件类型：
                        <font th:if="${user.card_type == 0}">居民身份证</font>
                        <font th:if="${user.card_type == 1}">港澳居民居住证</font>
                        <font th:if="${user.card_type == 2}">台湾居民居住证</font>
                        <font th:if="${user.card_type == 3}">外国人永久居留身份证</font>
                        <font th:if="${user.card_type == 4}">外国护照</font>
                        <font th:if="${user.card_type == 5}">中国护照</font>
                        <font th:if="${user.card_type == 6}">港澳居民来往内地通行证</font>
                        <font th:if="${user.card_type == 7}">台湾居民来往大陆通行证</font>
                    </div>
                    <div>证件号：[[${session.user.card_code}]]</div>
                    <div>优惠类型：
                        <font th:if="${user.user_type == 0}">成人</font>
                        <font th:if="${user.user_type == 1}">儿童</font>
                        <font th:if="${user.user_type == 2}">学生</font>
                        <font th:if="${user.user_type == 3}">残疾军人</font>
                    </div>
                    <div>生日：[[${session.user.birthday}]] </div>
                    <div>电话：[[${session.user.phone}]]</div>
                    <div>邮箱：[[${session.user.email}]]</div>

                </div>


            </div>
        </div>

    </div>


</div><!------------------------------Bott------------------------------>

<!--遮罩-->
<!--<div class="mask"></div>-->



<!--个人信息编辑弹框-->
<!--<div class="bj">-->
<!--    <div class="clearfix"><a href="#" class="fr gb">-->
<!--        <img src="/home/img/cancel.png"/></a></div>-->
<!--    <h3>编辑基础资料</h3>-->
<!--    <div>-->
<!--        <form action="/view/personal/editInformation" method="post"  id="from">-->
<!--            <input type="hidden" name="user_id" id="user_id" th:value="${user.user_id}">-->
<!--            <div>-->
<!--                <label>用户名：</label>-->
<!--                <input  name="username" id="username" th:value="${user.username} " onblur="checkUsername()" />-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>电话号：</label>-->
<!--                <input  name="phone" id="phone" th:value="${user.phone} " onblur="checkPhone()" style="padding-top: 10px;padding-bottom: 10px; width: 200px;"/>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>邮箱：</label>-->
<!--                <input  name="email" id="email" th:value="${user.email} " onblur="checkEmail()" />-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>出生日期：</label>-->
<!--                <input type="date" name="birthday" id="birthday"/>-->
<!--            </div>-->
<!--            <div>-->
<!--                性别：-->
<!--                <label>-->
<!--                    <input type="radio" name="sex" value="1"  th:checked="${user.sex == 1}" >-->
<!--                    <span>男</span>-->
<!--                </label>-->
<!--                <label class="">-->
<!--                    <input type="radio" name="sex" value="2" th:checked="${user.sex == 2}"  >-->
<!--                    <span>女</span>-->
<!--                </label>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>优惠(待)类型:</label>-->
<!--                <select  id="user_type" name="user_type"  th:selected="${user.user_type} ">-->
<!--                    <option value="0" >成人</option>-->
<!--                    <option value="1">儿童</option>-->
<!--                    <option value="2">学生</option>-->
<!--                    <option value="3">残疾军人</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <span id="errorMsg"></span>-->
<!--            <div class="bc">-->
<!--                <input  onclick="checkForm()" value="保存"/>-->
<!--                <input type="button" value="取消"/>-->
<!--            </div>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--个人信息编辑弹框-->
<div style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1000; justify-content: center; align-items: center;" id="editModal">
    <div style="background-color: white; padding: 20px; border-radius: 5px; width: 400px;">
        <div style="overflow: hidden;">
            <a href="javascript:void(0)" onclick="closeEditModal()" style="float: right; text-decoration: none;">
                <img src="/home/img/cancel.png" style="width: 20px; height: 20px;"/>
            </a>
        </div>
        <h3 style="margin-top: 0; margin-bottom: 20px;">编辑基础资料</h3>
        <div>
            <form action="/system/personal/editInformation" method="post" id="from">
                <input type="hidden" name="user_id" id="user_id" th:value="${user.user_id}">
                <div style="margin-bottom: 15px;">
                    <label style="display: inline-block; width: 80px;">用户名：</label>
                    <input type="text" name="username" id="username" th:value="${user.username}" onblur="checkUsername()" style="padding: 8px; width: 200px;"/>
                </div>
                <div style="margin-bottom: 15px;">
                    <label style="display: inline-block; width: 80px;">电话号：</label>
                    <input type="text" name="phone" id="phone" th:value="${user.phone}" onblur="checkPhone()" style="padding: 8px; width: 200px;"/>
                </div>
                <div style="margin-bottom: 15px;">
                    <label style="display: inline-block; width: 80px;">邮箱：</label>
                    <input type="text" name="email" id="email" th:value="${user.email}" onblur="checkEmail()" style="padding: 8px; width: 200px;"/>
                </div>
                <div style="margin-bottom: 15px;">
                    <label style="display: inline-block; width: 80px;">出生日期：</label>
                    <input type="date" name="birthday" id="birthday" style="padding: 8px;"/>
                </div>
                <div style="margin-bottom: 15px;">
                    <span style="display: inline-block; width: 80px;">性别：</span>
                    <label style="margin-right: 15px;">
                        <input type="radio" name="sex" value="1" th:checked="${user.sex == 1}">
                        <span>男</span>
                    </label>
                    <label>
                        <input type="radio" name="sex" value="2" th:checked="${user.sex == 2}">
                        <span>女</span>
                    </label>
                </div>
                <div style="margin-bottom: 15px;">
                    <label style="display: inline-block; width: 80px;">优惠(待)类型:</label>
                    <select id="user_type" name="user_type" style="padding: 8px; width: 200px;" th:selected="${user.user_type}">
                        <option value="0">成人</option>
                        <option value="1">儿童</option>
                        <option value="2">学生</option>
                        <option value="3">残疾军人</option>
                    </select>
                </div>
                <span id="errorMsg" style="color: red; display: block; margin-bottom: 15px;"></span>
                <div style="text-align: right;">
                    <input type="submit" value="保存"  onclick="return checkForm()" style="padding: 8px 15px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    <input type="button" value="取消" onclick="closeEditModal()" style="padding: 8px 15px; background-color: #f44336; color: white; border: none; border-radius: 4px; cursor: pointer; margin-left: 10px;">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // 显示弹窗
    function openEditModal() {
        document.getElementById('editModal').style.display = 'flex';
    }

    // 关闭弹窗
    function closeEditModal() {
        document.getElementById('editModal').style.display = 'none';
    }
</script>
</body>


<!--引入底部footer.html文件-->
<div th:replace="/home/footer"></div>

<script src="/home/js/jquery-3.5.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/home/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/home/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
