<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>车站管理-编辑车站</title>
</head>

<body>
<script src="/admin1/js/jquery.min.js" type="text/javascript"></script>
<div id="header"></div>
<script>$("#header").load("/header.html")</script>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="index.html"><img src="/admin1/images/logo-sidebar.png"  /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">
                <!--引入left-menu.html页面中的 th:fragment="leftMenu" 部分代码-->
                <div th:replace="/admin/common/left-menu :: leftMenu"></div>
            </div>

        </aside>
        <!--End 左侧导航-->
        <div id="header-menu"></div>
        <script>$("#header-menu").load("/header-menu.html")</script>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>编辑车站</h4></div>
                            <div class="card-body">
                                <form action="edit" id="station-edit-form" method="post" class="row">
                                    <input type="hidden" name="station_id" th:value="${station.station_id}">
                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">车站名称</span>
                                        <input type="text" class="form-control required" id="station_name" name="station_name" th:value="${station.station_name}" placeholder="请输入车站名称" tips="请填写车站城市" />
                                    </div>
                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">所在城市</span>
                                        <input type="text" class="form-control required" id="city" name="city" th:value="${station.city}" placeholder="请输入所在城市" tips="请填写所在城市" />
                                    </div>

                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">所属铁路局</span>
                                        <select name="RailwayBureau_id" style="height: 50px" class="form-control" id="railwayBureau">
                                            <option th:each="r:${railwayBureau}" th:value="${r.id}" th:text="${r.railwayBureau_name}"></option>
                                        </select>
                                    </div>

                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">联系电话</span>
                                        <input type="tel" class="form-control" id="phone" name="phone" th:value="${station.phone}" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="button" class="btn btn-primary ajax-post" id="add-form-submit-btn">确 定</button>
                                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<div id="footer"></div>
<script>$("#footer").load("/footer.html")</script>
<script type="text/javascript" src="/admin1/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/admin1/js/main.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //提交按钮监听事件
        $("#add-form-submit-btn").click(function(){
            // if(!checkForm("user-add-form")){
            // 	return;
            // }
            let data = $("#station-edit-form").serialize();
            $.ajax({
                url:'/system/station/edit',
                type:'PUT',
                data:data,
                success:function(data){
                    if (data=="true"){
                        alert("车站编辑成功");
                        window.location.href="/system/station/list";
                    }else{
                        alert(data);
                    }
                },
                error:function(data){
                    alert('网络错误!');
                }
            });
        });
        //监听上传图片按钮
        $("#add-pic-btn").click(function(){
            $("#select-file").click();
        });
    });
</script>
</body>
</html>