<div class="zuo fl">
  <div>
    <h4>订单中心</h4>
    <ul>
      <li><a href="/view/order/train_order">&nbsp;&nbsp;&nbsp;车票订单</a></li>
      <li><a href="/view/order/my_tickets">&nbsp;&nbsp;&nbsp;本人车票</a></li>
      <li><a href="/view/order/findRefundTicket">&nbsp;&nbsp;&nbsp;退票车票</a></li>
    </ul>
    <h4>信息管理</h4>
    <ul>
      <li><a href="/view/passenger/list">&nbsp;&nbsp;&nbsp;乘客信息</a></li>
    </ul>
    <h4>个人中心</h4>
    <ul>
      <li><a href="/view/personal/info" class="on">&nbsp;&nbsp;&nbsp;个人信息</a></li>
      <li><a href="/view/personal/security">&nbsp;&nbsp;&nbsp;账号安全</a></li>
    </ul>

  </div>
</div>