<!DOCTYPE html>
<!--引入thymeleaf模板引擎-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="/home/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/home/css/mygrxx.css"/>
    <link rel="stylesheet" type="text/css" href="/home/css/ticket_public_v70001.css">
</head>
<body>
<!------------------------------head------------------------------>
<!--引入顶部文件-->
<div th:replace="/home/header"></div>
<!------------------------------idea------------------------------>
<div class="address">
    <div class="wrapper clearfix">
        <a>当前位置：</a>
        <a href="http://localhost:8080/index.html" >首页</a><span>></span>
        <a href="/view/personal/info" class="go">个人中心</a>
    </div>
</div>

<div class="Bott">
    <div class="wrapper clearfix" style="width: 1500px;margin-left: 160px;">
        <!--个人中心左侧菜单开始-->
        <div th:replace="/home/common/left_menu"></div>
        <!--个人中心左侧菜单结束-->
        <div class="you fl" style="width: 1100px;padding: 5px 50px;">
            <div class="center-main" style="min-height: 550px">
                <div class="center-welcome" id="js-minHeight" style="min-height: 500px;">
                    <div class="welcome_data">
                        <div class="welcome-tit">
                            <img src="/home/img/noticepic.png" alt="" class="welcome-notice"><strong
                                class="welcome-name">[[${session.user.username}]]</strong>
                                <span th:if="${session.user.sex}== 0">女士,你好！</span>
                                <span th:if="${session.user.sex}== 1">先生,你好！</span></div>
                        <div class="welcome-con"><p>欢迎您登录中国梦想游中心网站。<br>
                            <span style="color: red;">如果您的密码在其他网站也使用，建议您修改本网站密码。</span><br>
                            如果您需要预订火车票，请您点击
                            <a id="link_for_ticket" class="txt-primary underline" href="http://localhost:8080/index.html">车票预订</a>。</p>
                        </div>
                    </div>
                    <ul class="welcome-code">
                        <li id="weixinImg"></li>
                        <li id="aliImg"></li>
                    </ul>
                    <div class="tips-box" style="">
                        <h2>温馨提示：</h2>
                        <p>
                            1.消息通知方式进行相关调整，将通过“铁路12306”App客户端为您推送相关消息（需开启通知权限）。
                            您也可以扫描关注“铁路12306”微信公众号或支付宝生活号，选择通过微信或支付宝接收。列车运行调整的通知仍然发送短信通知给您。
                        </p>
                        <p>
                            2.您可通过“账号安全”中的<a class="index_notice" href="/view/personal/showNotice" style="color: #0077ff">“通知设置”</a>修改您接收信息服务的方式。
                        </p>
                        <p>
                            3.该网页数据大多数来自铁路12306,本人只是仅供学习使用。如有侵权，请联系0931-12345678.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------Bott------------------------------>
<!--引入底部footer.html文件-->
<div th:replace="/home/footer"></div>
<script src="/home/js/jquery-3.5.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/home/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/home/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
